<%= form_for @conn, page_path(@conn, :shorten_url), fn f -> %>

  <label class="">
    Long URL, starting with "HTTP":
    <%= text_input f, :long_url %>
  </label>

  <div class="form-group">
    <%= submit "Create Short URL", class: "btn btn-primary" %>
  </div>
<% end %>
